*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

/* inizio header */
header{
    width: 100%;
    height: 80px;
    background-color: #0084FD;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
}

.flex-direction{
    flex-direction: column;
}

.logo, .inlinelist-menu{
    height: 50px;
    width: 200px;
    border: 1px solid red;
}

.dropdown-menu{
    height: 50px;
    width: 50px;
    border: 1px solid red;
}
/* fine header */

/* inizio main */
.col-30, .col-33, .col-70{
    width: 100%;
    height: 250px;
    background-color: #B5DDFF;
    margin: 10px 0px;
}