*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

/* utils */
.background-lavender{
    background-color: #9792E4;
    /* width: 100%; */
}

.background-lightblue{
    background-color: #B5DDFF;
}

.background-white{
    background-color:#ffffff;
}

.btn{
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

.btn-small{
    padding: 5px 10px;
}

.btn-medium{
    padding: 10px 50px;
}

.btn-large{
    padding: 20px 50px;
}

.btn-blue{
    background-color: #0084FD;
    color: #ffffff;
}

.btn-white{
    background-color: #ffffff;
    color: #9792E4;
}

.btn-header{
    color: black;
    background-color:#ffffff;
    font-size: 12px;
}

.btn-lavender{
    background-color: #9792E4;
    color: #ffffff;
}

.color-blue{
    color: #0084FD
}

.color-grey{
    color: #808080;
}

.color-lavender{
    color: #9792E4;
}

.color-yellow{
    color: #FDC15F;
}

.color-white{
    color: #ffffff;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-vertical-20{
    margin: 20px 0px;
}

.padding-20{
    padding: 20px;
}

.padding-left-20{
    padding-left: 20px;
}

.padding-right-20{
    padding-right: 20px;
}

.text-left{
    text-align: left;
}
/* inizio header */
header{
    width: 100%;
    height: 80px;
    background-color: #0084FD;
    display: flex;
    align-items: center;
    color: white;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-direction{
    flex-direction: column;
}

.inlinelist-menu{
    display: none;
}

.dropdown-menu{
    display: block;
}

.inlinelist-menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.inlinelist-menu ul li{
    padding: 0px 10px;
}
/* fine header */

/* inizio main */
.col-20, .col-30, .col-33, .col-50, .col-70, .col-80, .col-100{
    /* width: 90%; */
    border-radius: 30px;
    margin-bottom: 20px;
}

.col-70 img{
    width: 200px;
}

h1{
    padding: 50px 0px;
    font-size: 50px;
}

h2, h3{
    padding-top: 20px;
    font-size: 30px;
}

p{
    padding: 20px 0px;
    font-size: 18px;
    line-height: 1.5;
}

.circle{
    padding: 20px;
    border-radius: 50%;
}

.img-circle{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.pos-relative{
    position: relative;
}

.pos-relative .fa-quote-left{
    position: absolute;
    top: 0;
    left: 150px;
}

.text{
    width: 100%;
}

.card{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 0px 30px;
}

.number{
    color: #9792E4;
    font-size: 80px;
    font-weight: bold;
}

.img-planning1, .img-planning2{
    width: 100%;
    padding: 50px 0px;
}

/* fine main */

/* inizio footer */
footer{
    background-color: #333333;
    color: #ffffff;
}
/* fine footer */

/* media query */

@media screen and (min-width:768px){

    .container{
        max-width: 740px;
    }

    #intro .flex-direction, #testimonials .flex-direction, #benefits .flex-direction, #about-us .flex-direction{
        flex-direction: row;
    }

    #benefits .row{
        flex-wrap: wrap;
    }

    #intro .col-70{
        width: 66%;
        text-align: left;
        /* margin: 0px 20px 20px 0px; */
        margin-bottom: 20px;
        min-height: 490px;
    }
    
    #intro .col-30, #intro .col-33{
        width: calc(33% - 10px);
        /* margin: 0px 20px 20px; */
    }

    #intro .col-30{
        min-height: 490px;
    }

    #testimonials .col-80{
        text-align: left;
    }

    #testimonials .col-80 p{
        font-size: 18px;
        padding: 10px 20px;
    }

    #benefits .col-33{
        width: calc(50% - 20px);
    }

    #about-us .col-70{
        width: 50%;
    }

    #about-us .col-30{
        width: 40%;
        padding-top: 50px;
        min-height: 645px;
    }

    #about-us .col-30 .btn{
        font-size: 12px;
    }
    

    #banner.container{
        max-width: 680px;
    }

    #banner h1{
        font-size: 80px;
    }

    #banner h2{
        font-size: 40px;
    }

    footer .container{
        max-width: 500px;
    }
}

@media screen and (min-width: 992px){
    .container{
        max-width: 950px;
    }

    h2{
        font-size: 25px;
    }

    header .inlinelist-menu{
        display: block;
    }

    header .dropdown-menu{
        display: none;
    }

    #strategic .flex-direction{
        flex-direction: row;
    }

    #intro .col-30 i, #intro .col-33 i{
        padding-top: 20px;
    }

    #intro .col-50{
        width: 50%;
        margin-bottom: 0px;
    }

    #intro .col-70{
        display: flex;
    }

    #intro .col-70 button{
        margin-bottom: 50px;
    }

    #intro .col-30, #intro .col-70{
        min-height: 0px;
    }

    #intro, #strategic{
        position: relative;
    }

    #intro .col-50{
        position: relative;
    }

    #intro .img-phone{
        position: absolute;
        bottom: 0;
        /* right: 0; */
        padding: 0;
    }

    #strategic .col-50{
        width: calc(50% - 20px)
    }

    #strategic .col-50.background-white{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #strategic .img-planning1{
        margin: 50px 0px;
    }

    #strategic .img-planning2{
        width: 50%;
        padding: 0px;
    }

    #benefits .col-33{
        width: calc(33% - 20px);
    }
}