*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

/* utils */
.background-lavender{
    background-color: #9792E4;
    /* width: 100%; */
}

.background-lightblue{
    background-color: #B5DDFF;
}

.background-white{
    background-color:#ffffff;
}

.btn{
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

.btn-medium{
    padding: 10px 50px;
}

.btn-blue{
    background-color: #0084FD;
    color: #ffffff;
}

.color-blue{
    color: #0084FD
}

.color-white{
    color: #ffffff;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.padding-20{
    padding: 20px;
}

.padding-left-20{
    padding-left: 20px;
}

.padding-right-20{
    padding-right: 20px;
}
/* inizio header */
header{
    width: 100%;
    height: 80px;
    background-color: #0084FD;
    display: flex;
    align-items: center;
    color: white;
}

.container{
    width: 100%;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-direction{
    flex-direction: column;
}

/* .logo, .inlinelist-menu{
    height: 50px;
    width: 200px;
    border: 1px solid red;
} */

/* .dropdown-menu{
    height: 50px;
    width: 50px;
    border: 1px solid red;
} */
/* fine header */

/* inizio main */
.col-30, .col-33, .col-50, .col-70, .col-100{
    width: 90%;
    border-radius: 30px;
    margin-bottom: 20px;
    /* height: 250px; */
    /* margin: 10px 0px; */
    /* border: 1px solid red; */
}

.col-50 img{
    width:100%;
    padding: 50px 0px;
}

.col-70 img{
    width: 400px;
}

h2{
    padding-top: 20px;
    font-size: 30px;
}

p{
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.circle{
    padding: 20px;
    border-radius: 50%;
}

.text{
    width: 100%;
    height: 100px;
}

.card{
    width: 100%;
    height: 50px;
    border: 1px solid red;
}
/* fine main */

/* inizio footer */
footer{
    background-color: #333333;
}